.body_1{
  background-color: white;
  color: black;
  padding: 3em;
}

.body_2{
  background-color: #282c34;
  color: white;
  padding: 3em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header h4{
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardContainer{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.cardConfig {
  width: 14rem;
  text-align: left;
  color: black;
  margin: 1em;
}

img{
  height: 10em;
  max-width: 14em;
}

.btn1{
  width: 200px;
  margin: 5px;
}

#desc{
  max-width: 700px;
  margin: 5px;
  border:2px solid white;
  text-align: left;
  padding: 1em;
}

strong{
  color: #61dafb;
}

.colorWhite{
  color: white;
}

.cart{
  padding: 3em;
}

.timeLine{
  margin: 1em;
}

span{
  padding: 2em;
}